<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
<html xmlns:ng="http://angularjs.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Qpid Dispatch Console</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tipsy/1.0.2/jquery.tipsy.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.rawgit.com/mar10/dynatree/master/dist/skin/ui.dynatree.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">

    <link rel="stylesheet" href="plugin/css/plugin.css" type="text/css"/>
    <link rel="stylesheet" href="plugin/css/dispatch.css" type="text/css"/>
    <link rel="stylesheet" href="plugin/css/site-base.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.rawgit.com/mohsen1/json-formatter/master/dist/json-formatter.min.css" type="text/css"/>

</head>

<body ng-app="QDR">

<div id="core" ng-controller="QDR.Core">
    <div id="alerts">
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</uib-alert>
    </div>
    <div id="main-nav" class="navbar navbar-fixed-top" ng-controller="QDR.MainController">
        <div class="navbar-inner main-nav-lower">
            <div class="container">
                <div class="pull-left">
                    <ul class="nav">
                        <li ng-repeat="nav in topLevelTabs track by $index"
                            ng-class="{active : !nav.isActive()}"
                            ng-show="nav.isValid()">
                            <a ng-href="{{nav.href}}" title="{{nav.title}}" data-placement="bottom" ng-bind="nav.content">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="main-body" >
        <div id="main" class="container-fluid ng-cloak qdr">
            <div ng-include src="'plugin/html/qdrLayout.html'"></div>
        </div>
    </div>
</div>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/queue.v1.min.js"></script>
    <script src="http://d3js.org/topojson.v0.min.js"></script>

    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular-resource.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.4.0/ui-bootstrap-tpls.min.js"></script>

    <script src="https://cdn.rawgit.com/jaz303/tipsy/master/src/javascripts/jquery.tipsy.js"></script>
    <script src="https://cdn.rawgit.com/briancray/tooltipsy/master/tooltipsy.min.js"></script>
    <script src="https://cdn.rawgit.com/angular-ui/ui-slider/master/src/slider.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>

    <script type="text/javascript" src="plugin/js/dispatchPlugin.js"></script>
    <script type="text/javascript" src="plugin/js/qdrOverview.js"></script>
    <script type="text/javascript" src="plugin/js/navbar.js"></script>
    <script type="text/javascript" src="plugin/js/qdrList.js"></script>
    <script type="text/javascript" src="plugin/js/qdrListChart.js"></script>
    <script type="text/javascript" src="plugin/js/qdrCharts.js"></script>
    <script type="text/javascript" src="plugin/js/qdrSchema.js"></script>
    <script type="text/javascript" src="plugin/js/qdrService.js"></script>
    <script type="text/javascript" src="plugin/js/qdrChartService.js"></script>
    <script type="text/javascript" src="plugin/js/qdrTopology.js"></script>
    <script type="text/javascript" src="plugin/js/qdrSettings.js"></script>

    <script type="text/javascript" src="plugin/lib/rhea-min.js"></script>

    <script src="https://cdn.rawgit.com/mar10/dynatree/master/dist/jquery.dynatree.min.js"></script>

    <script type="text/javascript">
        angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
  </script>
</body>
</html>

