build
install
*.pyc
*.pyo
.cproject
.project
.pydevproject
tests/system_test.dir/
tests/policy-1/policy-*.json
*.iml
.idea
.metadata
.settings
.history/
.tox
.vscode
console/react/node_modules/
console/react/build/
console/react/coverage/
console/react/.prettierrc
console/react/.prettierignore
