build
install
*.pyc
*.pyo
.cproject
.project
.pydevproject
tests/system_test.dir/
tests/policy-1/policy-*.json
tests/authservice.py
tests/failoverserver.py
tests/system_tests_authz_service_plugin.py
tests/system_tests_handle_failover.py
*.iml
.idea
.metadata
.settings
.history/
.tox
.vscode
console/stand-alone/node_modules/
console/stand-alone/dist/
console/stand-alone/package-lock.json
tools/qdmanage
tools/qdstat
target/
build/
node_modules/
