<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License
-->

<div class="modal-header">
    <h3 class="modal-title">Configure new router</h3>
</div>
<div class="modal-body">

    <label title="Show descriptions and default values in confile files"><input type="checkbox" ng-model="verbose"> Verbose output</label>
    <div>
        <button ng-click="download()">Download</button>
        <button class="btn" zero-clipboard data-clipboard-text="{{output}}" title="Copy to clipboard">
            <i class="icon-copy"></i>
        </button> configuration file for {{newRouterName}}
    </div>
    <div ng-repeat="part in parts">
        <button ng-click="downloadPart(part)">Download</button>
        <button class="btn" zero-clipboard data-clipboard-text="{{part.output}}" title="Copy to clipboard">
            <i class="icon-copy"></i>
        </button> connector section for {{part.name}}
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="done()">Done</button>
</div>
