topologies/*
!topologies/config-2/

bower_components/*
!bower_components/html5shiv/
bower_components/html5shiv/*
!bower_components/html5shiv/html5shiv.min.js

!bower_components/jquery/
bower_components/jquery/*
!bower_components/jquery/dist
bower_components/jquery/dist/*
!bower_components/jquery/dist/jquery.min.js

!bower_components/angular/
bower_components/angular/*
!bower_components/angular/angular.min.js

!bower_components/angular-route/
bower_components/angular-route/*
!bower_components/angular-route/angular-route.min.js

!bower_components/angular-resource/
bower_components/angular-resource/*
!bower_components/angular-resource/angular-resource.min.js

!bower_components/angular-animate/
bower_components/angular-animate/*
!bower_components/angular-animate/angular-animate.min.js

!bower_components/angular-sanitize/
bower_components/angular-sanitize/*
!bower_components/angular-sanitize/angular-sanitize.min.js

!bower_components/angular-sanitize/
bower_components/angular-sanitize/*
!bower_components/angular-sanitize/angular-sanitize.min.js

!bower_components/angular-bootstrap/
bower_components/angular-bootstrap/*
!bower_components/angular-bootstrap/ui-bootstrap.min.js
!bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js

!bower_components/d3/
bower_components/d3/*
!bower_components/d3/d3.min.js

!bower_components/notifyjs/
bower_components/notifyjs/*
!bower_components/notifyjs/dist/
bower_components/notifyjs/dist/*
!bower_components/notifyjs/dist/notify.js

!bower_components/font-awesome/
bower_components/font-awesome/*
!bower_components/font-awesome/css/
bower_components/font-awesome/css/*
!bower_components/font-awesome/css/font-awesome.min.css

!bower_components/jquery-ui/
bower_components/jquery-ui/*
!bower_components/jquery-ui/jquery-ui.min.js
!bower_components/jquery-ui/themes/
bower_components/jquery-ui/themes/*
!bower_components/jquery-ui/themes/smoothness/
bower_components/jquery-ui/themes/smoothness/*
!bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css

!bower_components/bootstrap/
bower_components/bootstrap/*
!bower_components/bootstrap/css/
bower_components/bootstrap/css/*
!bower_components/bootstrap/css/bootstrap.min.css

!bower_components/patternfly/
bower_components/patternfly/*
!bower_components/patternfly/dist/
bower_components/patternfly/dist/*
!bower_components/patternfly/dist/css/
bower_components/patternfly/dist/css/*
!bower_components/patternfly/dist/css/patternfly.min.css
!bower_components/patternfly/dist/css/patternfly-additions.min.css
!bower_components/patternfly/dist/fonts/
bower_components/patternfly/dist/fonts/*
!bower_components/patternfly/dist/fonts/fontawesome-webfont.ttf
!bower_components/patternfly/dist/fonts/fontawesome-webfont.woff*
!bower_components/patternfly/dist/fonts/OpenSans-Regular-webfont.ttf
!bower_components/patternfly/dist/fonts/OpenSans-Regular-webfont.woff*
!bower_components/patternfly/dist/fonts/OpenSans-Semibold-webfont.ttf
!bower_components/patternfly/dist/fonts/OpenSans-Semibold-webfont.woff*
!bower_components/patternfly/dist/fonts/OpenSans-Bold-webfont.ttf
!bower_components/patternfly/dist/fonts/OpenSans-Bold-webfont.woff*
!bower_components/patternfly/dist/fonts/OpenSans-ExtraBold-webfont.ttf
!bower_components/patternfly/dist/fonts/OpenSans-ExtraBold-webfont.woff*

