<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<style>
    .alert {
        margin-top: 4em;
    }

    .login:after {
    content: '';
    display: block;
    clear: both;
}

</style>
<div class="row-fluid" ng-controller="QDR.SettingsController">
    <div class="login" ng-hide="connecting">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <div class="alert alert-success">
                    <p>
                        Enter the address and a HTML-enabled port of a <strong><a href="http://qpid.apache.org/components/dispatch-router/" target="_blank">Qpid Dispatch Router</a></strong>.
                    </p>
                    <!--
                    <p>
                        If Autostart is checked, you will be automatically logged in to the router the next time you start the console.
                    </p> -->

            </div>
            <div class="connect-form">
                <form class="form-horizontal no-bottom-margin" novalidate ng-submit="connect()" name="settings">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="address">Address: </label>
                            <div class="col-md-6">
                                <input tabindex="1" id="address" type="text" ng-model="formEntity.address" placeholder="localhost" name="address" autofocus="autofocus" class="ng-pristine ng-valid ng-valid-required"></div>
                        </div>
                        <div class="form-group">
                            <label tabindex="-1" class="col-md-2 control-label" title="Ports to connect to, by default 5673" for="port">Port: </label>
                            <div class="col-md-6">
                                <input tabindex="2" id="port" posint type="number" placeholder="5673" tooltip="Ports to connect to, by default 5673" ng-model="formEntity.port" name="port" title="Ports to connect to, by default 5673">
                                <span ng-show="settings.port.$error.range">Must be 1 through 65535</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label tabindex="-1" class="col-md-2 control-label" title="User name" for="username">User name: </label>
                            <div class="col-md-6">
                                <input tabindex="3" id="username" type="text" placeholder="username" tooltip="User name" ng-model="formEntity.username" name="username" title="User name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label tabindex="-1" class="col-md-2 control-label" title="Password" for="password">Password: </label>
                            <div class="col-md-6">
                                <input tabindex="4" id="password" type="password" placeholder="password" tooltip="Password" ng-model="formEntity.password" name="password" title="Password">
                            </div>
                        </div>
<!--
                        <div class="form-group">
                            <label tabindex="-1" class="col-md-2 control-label" title="Whether or not the connection should be started as soon as you log in" for="autostart">Autostart: </label>
                            <div class="col-md-6">
                                <input tabindex="3" id="autostart" type="checkbox" tooltip="Whether or not the connection should be started as soon as you log into hawtio" ng-model="formEntity.autostart" name="autostart" title="Whether or not the connection should be started as soon as you log into hawtio"
                                       class="ng-scope ng-pristine ng-valid"></div>
                        </div>
-->
                        <input tabindex="-1" type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;">
                        <p></p>
                        <div class="form-group">
                            <label tabindex="-1" class="col-md-2 control-label" title="button"></label>
                            <div class="col-md-6">
                                <button type="submit" tabindex="4" class="btn btn-primary pull-left" ng-disabled="settings.$invalid">{{buttonText()}}</button>
                            </div>
                        </div>
                </form>


            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>

    <div class="centered" ng-show="connecting">
        <i class="icon-spin icon-spinner icon-4x"></i>
        <p>Please wait, connecting now...</p>
    </div>
    <div class="centered error" ng-show="connectionError">
        <p>There was a connection error: {{connectionErrorText}}</p>
    </div>

</div>

